body {
    width: 100%;
    height: 100%;
    position: absolute;
}
.background{
    position:absolute; z-index: 0; background-repeat:no-repeat;
        background-size:contain;
        background-position:center;
}
.top{
    padding-top:15%; 
    position: relative;
}
.credits{
    position: absolute;
    z-index: 0;
    bottom: 40%;
    font-size: 300%;
    right: 18%;
    color: white;
}

.spins{
    position: absolute;
    z-index: 0;
    bottom: 40%;
    font-size: 300%;
    right: 6%;
    color: white;
}
.money{
    position: absolute;
    z-index: 0;
    bottom: 40%;
    font-size: 300%;
    right: 31%;
    color: white;
}
.jackpot{
    position: absolute;
    z-index: 0;
    bottom: 22%;
    font-size: 300%;
}
.slot{
   filter: brightness(50%);
}
.slotWin{
    filter: brightness(100%);
}
img {
    max-width: 100%;
    height: auto;
  }
.slotwrapper {
    overflow: hidden;
    display: inline-block;
    width: 64%;
    height: 221%;
    position: absolute;
    left: 18%;
    top: 86%;
    z-index: 1;
}
.scores{
    max-width: 100%; 
    top: 0;
    position:absolute; 
    z-index: 0; 
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
}
.spinImg{
    max-width: 100%; 
    top: 0;
    position:absolute;
    z-index: 0;
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
}
.btn-success{
    z-index: 2;
    position: absolute;
}
.slotwrapper ul {
    list-style: none;
    position: relative;
    float: left;
}

.slotwrapper ul li img {
    vertical-align: top;
}

#example6 ul {
    width: 20%;
    padding-left: 0px;
}