body{
    
    background-image: url('../img/testBackground.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.genDiv{
    width: 80vw;
    position: relative;
    margin: auto auto auto auto;
}
.credits{

    z-index: 0;
    bottom: 40%;
    font-size: 300%;
    right: 18%;
    color: white;
}

.spins{

    z-index: 0;
    bottom: 40%;
    font-size: 300%;
    right: 6%;
    color: white;
}
.money{

    z-index: 0;
    bottom: 40%;
    font-size: 300%;
    right: 31%;
    color: white;
}
.jackpot{
  
    z-index: 0;
    bottom: 22%;
    font-size: 300%;
}
.slot{
   filter: brightness(50%);
}
.slotWin{
    filter: brightness(100%);
}
img {
    max-width: 100%;
    height: auto;
  }
.slotwrapper {
    width: fit-content;
    position: relative;
    overflow: hidden;
    top: 0px;
    margin:0px auto 0px auto;
    background: rgba(0,0,0,0.8);
    height: 609px;
    border-style: solid;
    border-width: 0.1vw;
    border-color: rgb(211, 160, 71);
}
.scores{
    max-width: 100%; 
    top: 0;
    z-index: 0; 
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
}
.spinImg{
    max-width: 100%; 
    top: 0;
    z-index: 0;
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
}
.btn-success{
    z-index: 2;
}
.slotwrapper ul {
    list-style: none;
    float: left;
}

.slotwrapper ul li img {
    vertical-align: top;
    width: 10vw;

}

#example6 ul {
 
    padding-left: 0px;
    position: relative;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
    border-left-style: solid;
    border-width: 0.1vw;
    border-color: rgb(211, 160, 71);
}

li{
    display:table;
    margin:0px auto 0px auto;
}
#btn-example6, #btn-minus, #btn-plus{
	width:fit-content;
	height:fit-content;
   background-image: linear-gradient(rgb(56, 13, 33), #732C16); 
   text-align:center;
   box-shadow: 2px 2px 3px #999;
    border-style: solid;
    border-width: 0.1vw;
    border-color: rgb(211, 160, 71);
}

#jackpotText, #creditText, #winText, #betText, #minusText, #plusText, #invisibleText{
    text-align:center;
    font-size:2vw;
    color: #D3A047;
    margin-top: 0px;
    margin-bottom: 0px;
}

#jackpot, #credit, #win, #bet{
    margin-top: 0px;
    width: fit-content;
    border-style: solid;
    display: inline-block;
    border-color: #D3A047;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size:3.5vw;
    color: #D3A047;
    border-width: 0.1vw;
    background-image: linear-gradient(rgb(56, 13, 33), #732C16);
}

.imgCenter {
    width: 8vw;
}
  .container {
    position: relative;
    text-align: center;
  }

  .column {
    float: left;
  }
  
  .left, .right {
    width: 25%;
  }
  
  .middle {
    width: 50%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  #spinText{
    text-align:center;
    font-size:3.5vw;
    color: #D3A047;
    margin-top: 0px;
    margin-bottom: 0px;
    background-image: linear-gradient(rgb(56, 13, 33), #732C16);
  }

  #invisibleText{
    visibility: hidden;
  }